<nav style="position: fixed; top: 0; width: 100%; height: 70px; background-color: #222121; z-index: 1000; margin-bottom: 20px;">
    <div class="site-title">
        <p style="color: #ddd; margin-top: 20px; margin-left: 30px; "> <b>DEV API</b></p>
    </div>
    <ul style="margin-right: 60px; margin-bottom: 10px;">
        <li><a href="/" style="color: #ddd;">Home</a></li>
        <li><a href="/about" style="color: #ddd;">About</a></li>
        <li><a href="/document" style="color: #ddd;">Documentation</a></li>
    </ul>
</nav>