<nav>
    <div class="site-title">
        <a href="/" style="color: #ddd;">FindDev</a>
        <!-- <p>Rest API</p> -->
    </div>
    <ul>
        <li><a href="/" style="color: #ddd;">Home</a></li>
        <li><a href="/about" style="color: #ddd;">About</a></li>
        <li><a href="/document" style="color: #ddd;">Documentation</a></li>
    </ul>
</nav>