<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About</h2>

        <p><h1>What is this?</h1>

        This api project enables developers to register, record their details, 
        this enables easier data search at a later date, when needed.

        </p>
        <p><h1>What are the features?</h1>

        We're using Node JS, Express JS, Mongo DB, Thunder Client, 
        and Netlify to serve an API to you. The data is all formatted in JSON 
        and we also support JSON Schema for programmatically understanding the attributes of each resource. 
        </p>

        <p>
        <h1>Why we used the above features:</h1>

        <p>-JavaScript: The ability to use JavaScript for both server-side (Node.js) and client-side development.</p>
        <p>-Rapid Development: Express.js streamlines API development with a minimalist and flexible framework, allowing for quick prototyping and development.</p>
        <p>-Scalability: MongoDB's horizontal scaling and Netlify's global CDN contribute to the scalability of the overall system.</p>
        <p>-Serverless Functions: Netlify allows the integration of serverless functions, enabling developers to build APIs without managing server infrastructure.</p>
       
        </p>

        <p><h1>Contributors</h1>

        FindDev api would not be possible without contributions from the following people:

           <p>- Owen Oscar</p>
           <p>- James Abiollagh</p>
           <p>- Faith Nyaberi</p>
           <p>- Smitt Thanki</p>
        <p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
