<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About</h2>
        <p> What are the features?

We're using Node JS, Express JS, Mongo DB, Thunder Client, and Netlify to serve an API to you. The data is all formatted in JSON and we also support JSON Schema for programmatically understanding the attributes of each resource. </p>

        <p>Contributors

FindDev api would not be possible without contributions from the following people:

- Owen Oscar
- James Abiollagh
- Faith Nyaberi
- Smitt Thanki <p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
