<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div>
      <h2>Document</h2>
      <p>Documentation for FindDev API goes here</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>