<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div>
        <h1 class="top-heading">FindDev API</h1>
        <p> Seamlessly connect with Developers from every corner of the globe. </p>
        <hr style="border: 2px solid #ddd; margin-bottom: 90px;">
        
        <div class="mb-3">
            <h2 for="basic-url" class="form-label" style="color: #ddd; margin-bottom: 40px;">Try it now!</h2>
            <div class="input-group">
              <select id="httpMethod" onchange="toggleJsonInput()" style="border: 1px white;">
                <option value="GET" selected>GET</option>
                <option value="POST">POST</option>
                <option value="PUT">PUT</option>
                <option value="DELETE">DELETE</option>
              </select>
              <span class="input-group-text" id="basic-addon3" style="background-color: rgb(96, 104, 101);">https://find.dev/api/</span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
              <button onclick="sendData()" class="btn btn-outline-secondary" type="button" id="button-addon2">Send</button>
            </div>
            <div id="jsonInput" style="display:none;">
<<<<<<< HEAD
                <textarea id="jsonData" rows="10" cols="120" style="margin-top: 40px; background-color: rgb(241, 236, 236);"></textarea>
=======
                <!-- <textarea id="jsonData" rows="1" cols="170"></textarea> -->

                <!-- Modal section -->
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close" id="closeModalBtn">&times;</span>
                        <form id="developerForm">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" required>
                
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required>

                            <label for="location">Location:</label>
                            <input type="location" id="location" name="location" required>
                
                            <label for="techstack">Techstack (comma-separated):</label>
                            <input type="techstack" id="techstack" name="techstack" required>
                
                            <label for="projects">Projects:</label>
                            <div id="projectsContainer">
                                <!-- Project Fields will be added dynamically with JavaScript -->
                            </div>
                            <button type="button" id="addProjectBtn">Add Project</button>
                
                            <label for="github">GitHub:</label>
                            <input type="text" id="github" name="github">
                
                            <label for="linkedin">LinkedIn:</label>
                            <input type="text" id="linkedin" name="linkedin">
                
                            <label for="twitter">Twitter:</label>
                            <input type="text" id="twitter" name="twitter">
                
                            <button type="button" onclick="sendData()" id="submitBtn">Submit</button>
                        </form>
                    </div>
                </div>
                <!-- Modal section end -->
>>>>>>> upstream/main
            </div>
        </div>
    </br>
        <!-- textarea to show fetched developers information in json format -->
        <label for="floatingTextarea2" style=" color: #ddd; margin-left: 200px; margin-top: 50px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger;">Result:</label>
        <form id="form" class="form-floating">
            <textarea class="form-control" id="floatingTextarea2" style="height: 400px; max-width: 70%; margin: 0 auto; background-color: rgb(241, 236, 236); margin-top: 20px;">
                <%= stringifiedDevs %>
            </textarea>
        </form>
    </br>
        <div class="bottom-icons">
            <i class="far fa-copy icon" onclick="copy()" title="Copy"></i>
            <i class="far fa-thumbs-up icon" title="Like"></i>
            <i class="far fa-thumbs-down icon" title="Dislike"></i>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script>

        function toggleJsonInput() {
            const httpMethod = document.getElementById("httpMethod").value;
            const jsonInput = document.getElementById("jsonInput");
            const modal = document.getElementById("myModal");

            jsonInput.style.display = httpMethod === "POST" ? "flex" : "none";

            // Show the modal if POST is selected
            if (httpMethod === "POST") {
                modal.style.display = 'block';
            }
        }
        function sendData() {
            const httpMethod = document.getElementById("httpMethod").value;
            const name = document.getElementById('name').value;
            const email = document.getElementById('email').value;
            const location = document.getElementById('location').value;
            const techstack = document.getElementById('techstack').value.split(',').map(techstack => techstack.trim());
            const projects = Array.from(document.querySelectorAll('#projectsContainer > .project-fields')).map(projectField => {
                const title = projectField.querySelector('input[name="projectTitle"]').value;
                const description = projectField.querySelector('input[name="projectDescription"]').value;
                const url = projectField.querySelector('input[name="projectUrl"]').value;
                return { title, description, url };
        });
            const github = document.getElementById('github').value;
            const linkedin = document.getElementById('linkedin').value;
            const twitter = document.getElementById('twitter').value;

        const requestData = {
            name,
            email,
            location,
            techstack,
            projects,
            github,
            linkedin,
            twitter,
        };

        if (httpMethod === "POST") {
            fetch("/addDev", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(requestData),
        })
        .then(response => response.json())
        .then(data => {
            alert("Dev added successfully!");
            window.location.href = "/";
        })
        .catch(error => {
            console.error(`Error sending data: ${error}`);
        });

        // after sending data close the modal
        modal.style.display = 'none';
        } else if (httpMethod === "DELETE") {
            const selectedIdToDelete = document.getElementById("basic-url").value;
        if (selectedIdToDelete) {
            fetch(`/deleteDev/${selectedIdToDelete}`, {
                method: "DELETE",
            })
            .then(response => response.json())
            .then(data => {
                alert("Deleted Successfully!")
                window.location.href = "/";
            })
            .catch(err => console.error(`Error deleting Dev: ${err}`));
        } else {
            alert("Enter ID to delete!");
        }
        } else {
            alert("Unsupported HTTP method");
        }
}

    </script>
</body>
</html>