<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div>
        <h1 class="top-heading" style="margin-top: 230px;">FindDev API</h1>
        <p style="text-align: center;"> Seamlessly connect with Developers from every corner of the globe. </p>
        <!-- <hr style="border: 1px solid #ddd; margin-bottom: 90px;"> -->
        
        <div class="mb-3">
            <h2 for="basic-url" class="form-label" style="color: #ddd; margin-bottom: 40px; text-align: center;">Try it now!</h2>
            <div class="input-group">
              <select id="httpMethod" onchange="toggleJsonInput()" style="border: 1px white; height: 40px;">
                <option value="GET" selected>GET</option>
                <option value="POST">POST</option>
                <option value="PUT">PUT</option>
                <option value="DELETE">DELETE</option>
              </select>
              <span class="input-group-text" id="basic-addon3" style="background-color: rgb(96, 104, 101); height: 40px;">https://find.dev/api/</span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
              <button onclick="sendData()" class="btn btn-outline-secondary" type="button" id="button-addon2" style="height: 40px;">Send</button>
            </div>
            <div id="jsonInput" style="display:none;">
                <textarea id="jsonData" rows="10" cols="135" style="margin-top: 40px; background-color: rgb(241, 236, 236);"></textarea>
            </div>
        </div>
    </br>
        <!-- textarea to show fetched developers information in json format -->
        <label for="floatingTextarea2" style=" color: #ddd; margin-left: 240px; margin-top: 50px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger;">Result:</label>
        <form id="form" class="form-floating">
            <textarea class="form-control" id="floatingTextarea2" style="height: 400px; max-width: 70%; margin: 0 auto; background-color: rgb(241, 236, 236); margin-top: 20px;">
                <%= stringifiedDevs %>
            </textarea>
        </form>
    </br>
        <div class="bottom-icons">
            <i class="far fa-copy icon" onclick="copy()" title="Copy"></i>
            <i class="far fa-thumbs-up icon" title="Like"></i>
            <i class="far fa-thumbs-down icon" title="Dislike"></i>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script>
        function toggleJsonInput() {
            const httpMethod = document.getElementById("httpMethod").value;
            const jsonInput = document.getElementById("jsonInput");
            jsonInput.style.display = httpMethod === "POST" ? "block" : "none";
        }
        function sendData() {
            const httpMethod = document.getElementById("httpMethod").value;
            const jsonData = document.getElementById("jsonData").value;
        if (httpMethod === "POST") {
            fetch("/addDev", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: jsonData,
        })
        .then(response => response.json())
        .then(data => {
            alert("Dev added successfully!");
            const tarea = document.getElementById("jsonData");
            if (tarea) {
                tarea.style.display = "none";
            }
            window.location.href = "/";
        })
        .catch(error => {
            console.error(`Error sending data: ${error}`);
        });
        } else if (httpMethod === "DELETE") {
            const selectedIdToDelete = document.getElementById("basic-url").value;
        if (selectedIdToDelete) {
            fetch(`/deleteDev/${selectedIdToDelete}`, {
                method: "DELETE",
            })
            .then(response => response.json())
            .then(data => {
                alert("Deleted Successfully!")
                window.location.href = "/";
            })
            .catch(err => console.error(`Error deleting Dev: ${err}`));
        } else {
            alert("Enter ID to delete!");
        }
        } else if (httpMethod == "GET") {
            const devID = document.getElementById('basic-url').value;
            if (devID) {
                fetch(`/getDev/${devID}`)
                .then(response => response.json())
                .then(data => {
                    const textArea = document.getElementById("floatingTextarea2");
                    textArea.readOnly = true;
                    const propertyOrder = ['name', 'email', 'location', 'techStack', 'social_media', 'project'];
                    const orderedData = {};
                    propertyOrder.forEach(property => {
                        orderedData[property] = data[property];
                    });
                    const jsonString = JSON.stringify(data, null, 14);
                    textArea.value = jsonString;
                })
                .catch(error => {
                    console.error("Error fetching data:", error);
                });
            }

        } else {
            alert("Unsupported HTTP method");
        }
}
    </script>
</body>
</html>